@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


#home-container>img {
    width: 100%;
    height: 100%;
    position: relative;
}

#home-title {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 130px;

}



@media screen and (max-width: 845px) {
    #home-title{
        font-size: 55px;
        width: auto;
        text-align: center;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #home-container>img {
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: 70px;
    }
} 



@media screen and (max-width: 1650px) and (min-width: 846px) {
    #home-title{
        font-size: 65px;
        width: auto;
        text-align: center;
    }
}