@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v75/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.cu-header, .cu-sub-head{
    font-family: 'Varela Round', sans-serif;
    margin: auto;
}
#cous-container{
    background-color: #F8F6F3;
    width: 60%;
    height: auto;
    background-color: #F8F6F3;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#contact-us-container{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 25px auto;

}

#contact-us-container > hr{
    width: 50%;
    
}

.form-input{
    display: flex;
    flex-direction: column;
    width: auto; 
}

input{
    width: 100%;
    border-radius: 5px;
    height: 25px;
    border: 1px solid lightblue;
}

input:focus{
    outline: 1px solid lightblue;
}

textarea{
    resize: vertical;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightblue;
}

textarea:focus{
    outline: 1px solid lightblue;
}
.input-head, .submit-btn{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

#logo-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
}

/* *Reach Us */
#reach-us{
    width: auto;
    height: 100%;
    margin: auto;
}
#reach-us > i{
    text-align: center;
    margin: auto;
    
}
#reach-us > a{
    text-decoration: none;
    
}

#footer{
    padding-top: 10px;
    width: 80%;
    height: 100px;
    background-color: lightgray;
    margin: auto;
}
/* *Reach Us */



/* !  */
@media screen and (max-width: 600px) {
    #cous-container {
        width: 100%;
        height: auto;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    header {
        height: 70px;
        position: fixed;
        z-index: 99999;
    }

    #header-box {
        width: 100%;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: row;

    }

    #header-name {
        display: none;
    }

    #header-logo {
        height: auto;
        width: 70px;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: visible;
        margin: 15px auto auto 15px;

    }

    #nav-btn {
        border-radius: 6px;
        border: solid 0px black;
        font-size: 12px;
        margin-bottom: 3px;
        background-color: lightblue;
        width: auto;
        display: none;
    }



    #header-menu {
        display: none;
    }
    .cu-header{
        font-size: 25px;
    }
    .cu-sub-head{
        font-size:12px ;
    }

    #contact-us-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 35px auto;
        
    }

    #reach-us{
        width: auto;
        margin: auto;
    }
    i{
        font-size: 12px;
        margin: auto;
    }

    

}

@media screen and (max-width: 1650px) and (min-width: 601px) {
    header {
        width: 100%;
        height: auto;
    }

    #header-box {
        width: 100%;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    #header-logo {
        height: auto;
        width: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: visible;
        margin-right: 0px;
    }

    #header-name {
        font-size: 30px;
        margin-top: 15px;
        color: black;
        font-family: 'Varela Round', sans-serif;
    }
    #cous-container{
        min-width: 100%;
        height: auto;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        position:relative;
    }

    #contact-us-container{
        height: auto;
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    /** Reach Us */
    #reach-us{
        width: 100%;
        margin-top: 40px;
        margin: auto;
    }
    i{
        width: 100%;
        font-size: 16px;
    }
    /** Reach Us */

}