@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v75/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

/* .new-mobile-menu{
    display: none;
} */

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 0px;
}



hr{
    width: 80%;
}



/* !LightSlider Plugin Styles */

.demo {
    width: 450px;
    margin: auto;

}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
    margin-left: 0px;
}

    img {
        display: block;
        height: auto;
        max-width: 100%;
        max-height: auto;
        border-radius: 5px;
    }

/* !LightSlider Plugin Styles */


/* *Start Body */
#details-container{
    width: 60%;
}
#details-container {
    height: auto;
    background-color: rgb(227, 241, 241);
    margin: auto;
    display: flex;
    flex-direction: column;
}

#details {
    width: 100%;
    height: auto;
    /* background-color: rgb(132, 123, 141); */
    display: flex;
    flex-direction: row;
}

#name {
    font-family: 'Varela Round', sans-serif;
    margin: 25px auto;
}

#information {
    width: 50%;
    height: auto;
    margin: 0px auto auto auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    
}

.ul-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}


table {
    width: 550px;
}

th {
    text-align: left;
    padding: 7px 50px 7px 10px;
    width: 150px;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;

}

td {
    text-align: left;
    font-family: 'Varela Round', sans-serif;
}

#payment-div {
    width: 100%;
    height: auto;

    font-family: 'Varela Round', sans-serif;

}

#notice {
    width: 80%;
    font-family: 'Varela Round', sans-serif;

}

#down-payment-btn {
    width: 120px;
    height: 25px;
    border: 1px solid rgb(145, 203, 226);
    border-radius: 5px;
    margin: auto;
}

#down-payment-btn:hover {
    cursor: pointer;
}

#down-payment-btn:active {
    background-color: rgb(88, 143, 216);
}

/* .brand-slider-full {
    width: 100% !important;
}
 */

.contact-us-btn{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}




@media screen and (max-width: 845px) {
    body, #details-container{
        background-color: rgb(227, 241, 241);
    }

    .demo {
        max-width: 100%;

    }

    #information {
        width: 100%;
        height: auto;
        margin: 0px auto auto auto;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
    }

    #details {
        width: 100%;
        height: auto;
        /* background-color: rgb(132, 123, 141); */
        display: flex;
        flex-direction: column;
    }

    table {
        width: 100%;
        border-bottom: 1px solid black;

    }

    th {
        text-align: left;
        padding: 7px 80px 7px 10px;
        width: 60px;
        font-size: 15px;
        font-family: 'Varela Round', sans-serif;

    }

    header {
        height: 70px;
        position: fixed;
        z-index: 99999;
    }

    #header-box {
        width: 100%;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: row;

    }

    #header-name {
        display: none;
    }

    #header-logo {
        height: auto;
        width: 70px;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: visible;
        margin: 15px auto auto 15px;

    }

    #nav-btn {
        border-radius: 6px;
        border: solid 0px black;
        font-size: 12px;
        margin-bottom: 3px;
        background-color: lightblue;
        width: auto;
        display: none;
    }



    #header-menu {
        display: none;
    }

    #details-container {
        width: 100%;
        height: auto;
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        position: relative;
        /* display: none; ! Maybe use this option when mobile menu drops*/

    }


    #notice{
        margin: auto;
    }
    h4{
        margin-left: 10px;
    }

}

@media screen and (max-width: 1650px) and (min-width: 846px) {
    header {
        width: 100%;
    }

    #header-box {
        width: 100%;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    #header-logo {
        height: auto;
        width: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: visible;
        margin-right: 0px;
    }

    #header-name {
        font-size: 35px;
        margin-top: 15px;
        color: black;
        font-family: 'Varela Round', sans-serif;
    }
    #details-container{
        min-width: 100%;
        height: auto;
        background-color: rgb(227, 241, 241);
        margin: auto;
        display: flex;
        flex-direction: column;
        position:relative;
    }

    #information {
        width: 60%;
        height: auto;
        margin: auto;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        
        
    }
    #sub-info{
        margin: auto;
        width: 80%;
    }

    #details {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

    }

    th {
        text-align: left;
        padding: 7px 80px 7px 10px;
        width: 60px;
        font-size: 15px;
        font-family: 'Varela Round', sans-serif;

    }

    #notice{
        margin: auto;
    }
    h4{
        margin-left: 10px;
    }

}
