@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v75/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}
/* .new-mobile-menu{
    display: none;
} */

body{
    background-color: #F8F6F3;
    display: flex;
    flex-direction: column;
    margin: 0px;
   
    
}

/* *Header */

header{
    width: 100%;
    height: 120px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    position: relative;
}
#header-box{
    width: 30%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
#header-logo{
    height: 90px;
    width: 120px;
    background-repeat: no-repeat;
    background-size:contain;
    overflow:visible;
    margin: auto;
}
#header-name{
    height: 90px;
    width: auto;
    margin: auto;
    margin-left: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px rgba(31, 31, 163, 0.384), -3px -3px 1px rgba(31, 31, 163, 0.384);    
}
hr{
    width: 80%;
}

#header-menu{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto; 
}

#nav-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: auto auto 0px auto;
}

li{
    list-style: none;
    margin: auto 15px auto 15px;
    font-size: 20px;
    
}
#nav-btn{
    border-radius: 6px;
    border: solid 0px black;
    font-size: 18px;
    margin-bottom: 3px;
    background-color: lightblue;
}
#nav-btn:hover{
    background-color: rgb(98, 144, 230);
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    width: 80px;
    height: 10px;
    border: none;
    background-color: rgba(31, 31, 163, 0);
    cursor: pointer;
    display: none;
    -webkit-font-smoothing: antialiased;
}
/* *END    Header */ 

/* *Start Body */

.mobile-menu-container {
    display: none;
}

#footer, #container{
    width: 60%;
}

#container{
    
    height: auto;
    background-color: rgb(227, 241, 241);
    margin: auto;
    display: flex;
    flex-direction: column;
}
#header-hr{
    width: 40%;
}
#footer{
    height: 150px;
    background-color: lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
}


#social-media{
    width: 90%;
    height: 80%;
    margin: auto;
}
.instagram{
    width: auto;
    height: 40px;
    filter: opacity(.5);
    
}

#container-header{
    text-align: center;
    font-size: 42px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.548);
}

#listing{
    width: 1000px;    
    height: auto;
    /* background-color: lightgreen; */
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#posting{
    width: 300px;
    height: 300px;
    background-color: rgb(122, 122, 122);
    margin: 10px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    position: relative;/*In order to allow a div over an image, this div needs a position of relative and the dvi a position of absolute (See #info)  */
}
#posting:hover{
    cursor:pointer;
    box-shadow: 5px 5px 10px rgba(8, 38, 102, 0.329);
}




#list-img{
    width: 100%;
    height: 300px;
    object-fit:cover;
    overflow: hidden;
}

#logo-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
}




#info{
    width: 100%;
    height: 120px;
    background-color: rgba(242, 245, 242, 0.0);
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    
    /* Text Decoration */
}
#ident{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(0, 0, 0), 0px 0px 4px rgb(0, 0, 0);
    margin-left: -25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.ident-name{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(0, 0, 0), 0px 0px 4px rgb(0, 0, 0);
    margin-left: -25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


/* ! RESPONSIVE CSS  */
@media screen and (max-width: 600px) {
    body{
        background-color: rgb(227, 241, 241);
    }


    #information {
        width: 100%;
        height: auto;
        margin: 0px auto auto auto;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
    }



    header {
        height: 70px;
        position: fixed;
        z-index: 99999;
    }

    #header-box {
        width: 100%;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: row;

    }

    #header-name {
        display: none;
    }

    #header-logo {
        height: auto;
        width: 70px;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: visible;
        margin: 15px auto auto 15px;

    }

    #nav-btn {
        border-radius: 6px;
        border: solid 0px black;
        font-size: 12px;
        margin-bottom: 3px;
        background-color: lightblue;
        width: auto;
        display: none;
    }

    .material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        width: 80px;
        height: auto;
        border: none;
        background-color: rgba(31, 31, 163, 0);
        margin: auto 0px auto auto;
        -webkit-font-smoothing: antialiased;

    }

    #header-menu {
        display: none;
    }   
    #container-header{
        text-align: center;
        font-size: 29px;
        margin-top: 50px;
    }

    #container {
        min-width: 95%;
        height: auto;
        background-color: rgb(227, 241, 241);
        margin: 42px auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #listing{
        width: 100%;    
        height: auto;
        /* background-color: lightgreen; */
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #posting{
        width: 70%;
        height: 200x;
        background-color: rgb(122, 122, 122);
        margin: 15px auto 15px auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 5px;
        position: relative;/*In order to allow a div over an image, this div needs a position of relative and the dvi a position of absolute (See #info)  */
    }

    /* .new-mobile-menu{
        background-color: lightblue;
        padding-top: 40px;
        width: 0px;
        overflow: hidden;
        position: fixed;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-right:0px solid black ;
        z-index: 9999;
        
    }
    
    .new-mobile-menu > a{
        font-size: 20px;
        text-decoration: none;
        color: aliceblue;
        margin-top: 40px;
        margin-left: 10px;
        margin-bottom: 10px;
        position:static;        
    }
    .new-mobile-menu > hr{
        border: 1px solid rgb(54, 53, 53);
        border-radius: 5px;
        width: 100%;
        margin-left: 10px;
    } */
    /* #contact-us-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 35px auto;
    } */
    /* #footer{
        width: 100%;
        height: 150px;
        background-color: lightgray;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
    }
    
    
    #social-media{
        width: 90%;
        height: 80%;
        margin: auto;
    }
    .instagram{
        width: auto;
        height: 40px;
        filter: opacity(.5);
    } */
}

@media screen and (max-width: 1860px) and (min-width: 601px) {
    body{
        background-color: rgb(227, 241, 241);
    }
    header {
        width: 100%;
        height: auto;
    }

    #header-box {
        width: 100%;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    #header-logo {
        height: auto;
        width: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: visible;
        margin-right: 0px;
    }

    #header-name {
        font-size: 30px;
        margin-top: 15px;
        color: black;
        font-family: 'Varela Round', sans-serif;
    }
    #container{
        min-width: 100%;
        height: auto;
        background-color: rgb(227, 241, 241);
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        position:relative;
        
        /* display: none; ! Maybe use this option when mobile menu drops*/
        
    }
    #listing{
        width: 80%;    
        height: auto;
        /* background-color: lightgreen; */
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #posting{
        margin: 10px auto 10px auto;
    };
    

    #information {
        width: 100%;
        height: auto;
        margin: auto;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        
    }

    #details {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

    }

    th {
        text-align: left;
        padding: 7px 80px 7px 10px;
        width: 60px;
        font-size: 15px;
        font-family: 'Varela Round', sans-serif;

    }
    /* #contact-us-container{
        height: auto;
        width: 45%;
        display: flex;
        flex-direction: column;
        margin: auto;
    } */

}

